<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - 我的 ASP.NET 应用程序</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    <style>
        span#search, span#modify, span#delete, span#insert {
            padding: 10px;
            display: inline-block;
            cursor: pointer;
        }

        span#modify {
            color: #ff6a00;
        }

        span#delete {
            color: red
        }

        span#insert {
            color: #02ad20;
        }
    </style>
</head>
<body>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
      <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
      <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <div><span id="insert" onclick="insert()">新增</span><span id="search" onclick="search()">查询</span><span id="modify" onclick="modify()">修改</span><span id="delete" onclick="del()">删除</span></div>
    <div class="layui-container">
        <div class="layui-row">
            <div class="layui-col-xs6">
                <label>科目类型：</label><select  id="ProductName"><option value="">--请选择--</option><option value="寒假课程">寒假课程</option><option value="常规课程">常规课程</option><option value="百元课程">百元课程</option></select>
            </div>
            <div class="layui-col-xs6">
                <label>科目单价：</label><input id="Unitprice" placeholder="请输入单价" />
            </div>
            <div class="layui-col-xs6">
                <label>分类ID：</label><select id="Categoryid"><option value="">--请选择--</option><option value="分类1">分类1</option><option value="分类2">分类2</option><option value="分类3">分类3</option></select>
            </div>
            <div class="layui-col-xs6">
                <label>产品ID：</label><input id="Productid" placeholder="请输入单价" />
            </div>
        </div>
    </div>
    <table class="layui-hide" id="demo" lay-filter="test"></table>

    <script type="text/html" id="barDemo">
        <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
    </script>
    @*<div class="layui-carousel" id="test1">
            <div carousel-item>
                <div>条目1</div>
                <div>条目2</div>
                <div>条目3</div>
                <div>条目4</div>
                <div>条目5</div>
            </div>
        </div>*@
    <!-- 条目中可以是任意内容，如：<img src=""> -->

    <script>
        layui.use('carousel', function () {
            var carousel = layui.carousel;
            //建造实例
            carousel.render({
                elem: '#test1'
                , width: '100%' //设置容器宽度
                , height: '100%' //设置容器高度
                , arrow: 'always' //始终显示箭头
                //,anim: 'updown' //切换动画方式
            });
        });

        
        //新增授课计划信息
        let insert = () => {
            let _json = { productName: $("#ProductName").val(), unitPrice: $("#Unitprice").val(), categoryId: $("#Categoryid").val(), productId: $("#Productid").val(), createTime: "2019-03-18" };
            $.ajax({
                type: 'post'
                , url: `/ProductsOper/insert`
                , cache: false
                , data: _json
                //, dataType: 'json'
                //, contentType: "application/json; charset=utf-8"
                , success: function (r) {
                    console.log(r);
                    search();  //重新查询
                }
            })
        };


        //编辑授课计划信息
        let modify = () => {
            $.ajax({
                type: 'post'
                , url: `/ProductsOper/Update`
                , cache: false
                , data: { productname: "修改类型", unitprice: 200, categoryid: 1, ID: 1 }
                , dataType: 'json'
                , success: function (r) {
                    console.log(r);
                    searchData(r.Data);
                }
            })
        };

        //删除授课计划信息
        let del = () => {
            $.ajax({
                type: 'post'
                , url: `/ProductsOper/Delete`
                , cache: false
                , data: { ID: 10 }
                , dataType: 'json'
                , success: function (r) {
                    console.log(r);
                }
            })
        }


        //查询授课计划信息
        let search = () => {
            $.ajax({
                type: 'get'
                , url: `/ProductsOper/GetProductByCateid`
                , cache: false
                , data: { cateid: 1 }
                //, dataType: 'json'
                , success: function (r) {
                    console.log(r);
                    searchData(r.Data);
                }
            })
        }



        //获取授课计划信息数据
        let searchData = (searchData) => {
            console.log(searchData)
            layui.use(['laypage', 'table'], function () {
                var laypage = layui.laypage //分页
                    , table = layui.table;//表格

                //执行一个 table 实例
                table.render({
                    elem: '#demo'
                    , height: 420
                    , title: '用户表'
                    , page: true //开启分页
                    , toolbar: 'default' //开启工具栏，此处显示默认图标，可以自定义模板，详见文档
                    , totalRow: true //开启合计行
                    , data: searchData
                    , cols: [[ //表头
                        { type: 'checkbox', fixed: 'left' }
                        , {
                            field: 'id', title: 'ID', width: 80, sort: true, totalRowText: '合计：', templet: function (d) {
                                return d.LAY_TABLE_INDEX + 1;
                            }
                        }
                        , { field: 'productName', title: '科目' }
                        , { field: 'unitPrice', title: '单价', sort: true, totalRow: true }
                        , { fixed: 'right', width: 165, align: 'center', toolbar: '#barDemo' }
                    ]]
                });

                //监听头工具栏事件
                table.on('toolbar(test)', function (obj) {
                    var checkStatus = table.checkStatus(obj.config.id)
                        , data = checkStatus.data; //获取选中的数据
                    switch (obj.event) {
                        case 'add':
                            layer.msg('添加');
                            break;
                        case 'update':
                            if (data.length === 0) {
                                layer.msg('请选择一行');
                            } else if (data.length > 1) {
                                layer.msg('只能同时编辑一个');
                            } else {
                                layer.alert('编辑 [id]：' + checkStatus.data[0].id);
                            }
                            break;
                        case 'delete':
                            if (data.length === 0) {
                                layer.msg('请选择一行');
                            } else {
                                layer.msg('删除');
                            }
                            break;
                    };
                });

                //监听行工具事件
                table.on('tool(test)', function (obj) { //注：tool 是工具条事件名，test 是 table 原始容器的属性 lay-filter="对应的值"
                    var data = obj.data //获得当前行数据
                        , layEvent = obj.event; //获得 lay-event 对应的值
                    if (layEvent === 'detail') {
                        layer.msg('查看操作');
                    } else if (layEvent === 'del') {
                        layer.confirm('真的删除行么', function (index) {
                            obj.del(); //删除对应行（tr）的DOM结构
                            layer.close(index);
                            //向服务端发送删除指令
                        });
                    } else if (layEvent === 'edit') {
                        layer.msg('编辑操作');
                    }
                });

                //分页
                laypage.render({
                    elem: 'pageDemo' //分页容器的id
                    , count: 100 //总页数
                    , skin: '#1E9FFF' //自定义选中色值
                    //,skip: true //开启跳页
                    , jump: function (obj, first) {
                        if (!first) {
                            layer.msg('第' + obj.curr + '页', { offset: 'b' });
                        }
                    }
                });
            });
        }
    </script>
</body>
</html>
