<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - 我的 ASP.NET 应用程序</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    <style>
        span#search, span#modify, span#delete, span#insert {
            padding: 10px;
            display: inline-block;
            cursor: pointer;
        }

        span#modify {
            color: #ff6a00;
        }

        span#delete {
            color: red
        }

        span#insert {
            color: #02ad20;
        }
    </style>
</head>
<body>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
      <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
      <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <div><span id="insert" onclick="insert()">新增</span><span id="search" onclick="search()">查询</span><span id="modify" onclick="modify()">修改</span></div>
    <div class="layui-container">
        <div class="layui-row">
            <div class="layui-col-xs6">
                <label>科目类型：</label><select id="ProductName"><option value="">--请选择--</option><option value="寒假课程">寒假课程</option><option value="常规课程">常规课程</option><option value="百元课程">百元课程</option></select>
            </div>
            <div class="layui-col-xs6">
                <label>科目单价：</label><input id="Unitprice" placeholder="请输入单价" />
            </div>
            <div class="layui-col-xs6">
                <label>分类ID：</label><select id="Categoryid"><option value="">--请选择--</option><option value="分类1">分类1</option><option value="分类2">分类2</option><option value="分类3">分类3</option></select>
            </div>
            <div class="layui-col-xs6">
                <label>产品ID：</label><input id="Productid" placeholder="请输入单价" />
            </div>
        </div>
    </div>
    <table class="layui-hide" id="demo" lay-filter="test"></table>

    <script type="text/html" id="barDemo">
        <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
    </script>
    @*<div class="layui-carousel" id="test1">
            <div carousel-item>
                <div>条目1</div>
                <div>条目2</div>
                <div>条目3</div>
                <div>条目4</div>
                <div>条目5</div>
            </div>
        </div>*@
    <!-- 条目中可以是任意内容，如：<img src=""> -->
    <form id="uploadForm" action="Upload" method="post" enctype="multipart/form-data">
        <input id="File1" name="fileupload"  multiple="multiple" type="file"/>
        <input id="btnImportOK" type="button" value="上传" />
    </form>
    <script src="~/Content/viewJs/index.js"></script>
</body>
</html>
